body {
  align-items: center;
  text-align: center;
  justify-content: center;
  background: black;
  background-position: center center;
  height: 100%;
  color: #eff0f2;
}
.comeco {
  background-color: #060e2a;
}

.tituloTxt {
  font-size: 2.5em;
  font-weight: 1000;
  color: #eff0f2;
  padding: 0.5em;
}
.textoP {
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.2em;
}
.textoPa {
  margin: 10px;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.2em;
}
.ativa {
  align-items: center;
  position: absolute;
  height: 100%;
  -webkit-transition: margin-left 600ms ease-in;
  -moz-transition: margin-left 600ms ease-in;
  -o-transition: margin-left 600ms ease-in;
  transition: margin-left 600ms ease-in;
  border-radius: 1em;
}
#container {
  overflow: hidden;
  position: relative;
  width: 100%em;
  height: 20em;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: -35em;
  padding: 0.5em;
}

header {
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3em 3em 0 0;
  background-color: #060e2a;
}

main {
  background-color: #060e2a;
}

.central {
  margin-top: 1em;
}
.bancoLogo {
  width: 5em;
  height: 5em;
  padding: 1em;
}

.bancos {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.eu {
  width: 20em;
  height: 25;
}

.sessao {
  margin-top: -7em;
  text-align: center;
  margin-top: 5em;
}
.tituloum {
  background: #9b51e0;

  font-weight: 1000;
  padding: 0.3em;
  margin: 20px;
  background: #0693e3;
  margin-top: 3em;
  font-size: 3em;
  font-weight: 500;
  color: #060e2a;
}

i {
  color: orange;
}
.rr {
  text-align: center;
}

.eudois {
  width: 20em;
  height: 25;
  margin-top: 2em;
}

.destaque {
  background: #9b51e0;
  font-size: 2.5em;
  font-weight: 1000;
  padding: 0.3em;
  margin: 20px;
  color: #060e2a;
}

a {
  text-decoration: none;
}
.cont {
  color: white;
  background: #0cab21;
  font-size: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: 1s;
}

.cont:hover {
  padding: 0.8em;
  font-size: 2.3em;
  transition: 1s;
  background: #065f12;
}

.teste {
  margin-top: 3em;
}

footer {
  background: #060e2a;
}

.rodapet {
  color: #eff0f2;
  font-size: 1.2em;
  padding: 1em;
}

.fim {
  margin-top: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.maior {
  align-items: end;
  text-align: end;
}

.redesLogo {
  width: 3em;
  height: 3em;
  padding: 1em;
  transition: 2s;
}

.redesLogo:hover{
  border-radius: 15em;
  background: #9b51e0;
  transition: 2s;
  padding: 1.2em;
}

.redes {
  margin-top: 3em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
